::before{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    
    opacity:40%;
}

#days::before{
    content :'Días';
}

#hours::before{
    content :'Horas';
}

#mins::before{
    content :'Minutos';
}

#secs::before{
    content :'Segundos';
    
}